html {
  background-color: Purple;
  margin: 2;
  padding: 2;
}

body { margin: 0; }
body>header { text-align: center; }
body>header>nav>ul {
    margin: 0;
    padding: 0;
    background-color: Black;
    list-style-type: none;
}
body>header>nav>ul>li { display: inline-block; }
body>header>nav>ul>li:hover { background-color: Purple; }
body>header>nav>ul>li:active { background-color: Blue; }
body>header>nav>ul>li>a {
    display: block;
    padding: 1em;
    color: White;
    text-decoration: none;
}
body>main { padding: 1em; }

